@page "/contacts/create"
@attribute [Authorize]

<HtmxAppPage>
    <HtmxPageTitle>Create contact</HtmxPageTitle>
    <h1 class="mb-8 text-3xl font-bold">
        <a class="text-blue-500 hover:text-blue-600" href="/contacts">
            Contacts
        </a>
        <span class="text-blue-500 font-medium px-2">/</span>
        Create
    </h1>

    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
        <h2 class="text-lg font-semibold pt-8 pl-8">Create Contact</h2>

        <HtmxForm State="State" action="/api/contacts" method="POST">

            <div class="flex flex-wrap -mb-8 -mr-6 p-8">
                <div class="pb-8 pr-6 w-full lg:w-1/3 space-y-2">
                    <label for="@nameof(Model.Name)">Name</label>
                    <HtmxInput type="text" name="@nameof(Model.Name)" value="@Model.Name" class="relative px-6 py-3 w-full rounded border-gray-300 border-2"/>
                </div>
                <div class="pb-8 pr-6 w-full lg:w-1/3 space-y-2">
                    <label for="@nameof(Model.Email)">Email</label>
                    <HtmxInput type="email" name="@nameof(Model.Email)" value="@Model.Email" class="relative px-6 py-3 w-full rounded border-gray-300 border-2"/>
                </div>
                <div class="pb-8 pr-6 w-full lg:w-1/3 space-y-2">
                    <label for="@nameof(Model.City)">City</label>
                    <HtmxInput type="text" name="@nameof(Model.City)" value="@Model.City" class="relative px-6 py-3 w-full rounded border-gray-300 border-2"/>
                </div>

                <HtmxValidationSummary/>
            </div>

            <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
                <HtmxSubmit class="px-4 py-2 font-medium rounded bg-blue-500 hover:bg-blue-600 text-white transition">Create</HtmxSubmit>
            </div>
        </HtmxForm>
    </div>
</HtmxAppPage>

@code {
    private FormState<Contact> State { get; } = new (new Contact());

    public Contact Model => State.Model;
}