@page "/login"
@attribute [RedirectToUrlIfAuthenticated("/")]

<HtmxAppPage PageName="Login" SensitiveData="true">
    <h1>Login</h1>
    <HtmxForm State="State">
        <AntiforgeryToken/>

        <HtmxInput Name="@nameof(Email)" type="text" value="@Email"/>
        <HtmxInput Name="@nameof(Password)" type="password" value="@Password"/>

        <HtmxValidationErrors />

        <button type="submit">Login</button>
        <HtmxLink Route="/register">Register</HtmxLink>
        <input type="hidden" Value="@ReturnUrl"/>
    </HtmxForm>
</HtmxAppPage>

@code {
    [Parameter]
    public ModelState<LoginRequest> State { get; set; } = ModelState.Init(new LoginRequest
    {
        Email = string.Empty,
        Password = string.Empty
    });

    private string Email => State.Model.Email;
    private string Password => State.Model.Password;

    [Parameter] public StringValues? ReturnUrl { get; set; }
}