@page "/login"
@attribute [RedirectToUrlIfAuthenticated("/")]

<HtmxAppPage PageName="Login">
    <h1>Login</h1>
    <HtmxForm State="State">

        <Input type="text" name="@nameof(Email)" value="@Email" placeholder="email" required/>
        <Input type="password" name="@nameof(Password)" value="@Password" placeholder="password" required/>

        <FormErrors/>

        <button type="submit">Login</button>
        <HtmxLink Route="/register">Register</HtmxLink>
        <input type="hidden" Value="@ReturnUrl"/>
    </HtmxForm>
</HtmxAppPage>

@code {
    [Parameter]
    public ModelState<LoginRequest> State { get; set; } = ModelState.Init(new LoginRequest
    {
        Email = string.Empty,
        Password = string.Empty
    });

    private string Email => State.Model.Email;
    private string Password => State.Model.Password;

    [Parameter] public StringValues? ReturnUrl { get; set; }
}