@page "/register"
@attribute [RedirectToUrlIfAuthenticated("/")]

<HtmxAppPage PageName="Register" SensitiveData="true">
    <h1>Register</h1>
    <HtmxForm State="State">
        <AntiforgeryToken/>

        <HtmxInput Name="@nameof(Email)" type="text" value="@Email"/>
        <HtmxInput Name="@nameof(Password)" type="password" value="@Password"/>

        <HtmxValidationErrors />

        <button type="submit">Register</button>
        <HtmxLink Route="/login">Login</HtmxLink>
        <input type="hidden" Value="@ReturnUrl"/>
    </HtmxForm>
</HtmxAppPage>

@code {
    [Parameter]
    public ModelState<RegisterRequest> State { get; set; } = ModelState.Init(new RegisterRequest
    {
        Email = string.Empty,
        Password = string.Empty
    });

    private string Email => State.Model.Email;
    private string Password => State.Model.Password;

    [Parameter] public IDictionary<string, string>? Errors { get; set; }
    [Parameter] public StringValues? ReturnUrl { get; set; }
}