@page "/register"
@using Razmx.App.Pages.Home
@implements IFormState<RegisterRequest>
@attribute [RedirectIfAuthenticated<Home>]

<HtmxAppPage>
    <HtmxPageTitle>@Title</HtmxPageTitle>
    <h1>@Title</h1>

    <HtmxForm State="State">
        <Hidden Name="@nameof(ReturnUrl)" value="@ReturnUrl"/>

        <Input type="text" Name="@nameof(Email)" value="@Email" placeholder="email" required/>
        <Input type="password" Name="@nameof(Password)" value="@Password" placeholder="password" required/>
        <Input type="password" Name="@nameof(Confirm)" value="@Confirm" placeholder="confirm password" required/>

        <HtmxValidationSummary/>

        <button type="submit">Register</button>
        <HtmxLink href="/login">Login</HtmxLink>
    </HtmxForm>
</HtmxAppPage>

@code {
    private static string Title => "Register";
    private string Email => State.Model.Email;
    private string Password => State.Model.Password;
    private string Confirm => State.Model.Confirm;

    [Parameter]
    public ModelState<RegisterRequest> State { get; set; } = ModelState.Init(new RegisterRequest());

    [Parameter] public IDictionary<string, string>? Errors { get; set; }
    [Parameter] public StringValues? ReturnUrl { get; set; }
}