@page "/register"
@attribute [RedirectToPageIfAuthenticated<Home>]

<HtmxAppPage PageName="Register">
    <h1>Register</h1>
    <HtmxForm State="State">
        <input type="hidden" Value="@ReturnUrl"/>

        <Input type="text" Name="@nameof(Email)" value="@Email" placeholder="email" required/>
        <Input type="password" Name="@nameof(Password)" value="@Password" placeholder="password" required/>

        <FormErrors/>

        <button type="submit">Register</button>
        <HtmxLink Route="/login">Login</HtmxLink>
    </HtmxForm>
</HtmxAppPage>

@code {
    [Parameter]
    public ModelState<RegisterRequest> State { get; set; } = ModelState.Init(new RegisterRequest
    {
        Email = string.Empty,
        Password = string.Empty
    });

    private string Email => State.Model.Email;
    private string Password => State.Model.Password;

    [Parameter] public IDictionary<string, string>? Errors { get; set; }
    [Parameter] public StringValues? ReturnUrl { get; set; }
}